#emoji {
    display: none;
}

.emoji-sec {
    position: absolute;
    display: none;
}

#emoji:checked~.emoji-sec {
    display: block;
}

#dot {
    display: none;
}

.dot {
    display: block;
}

#dot:checked~.dot {
    display: none;
}